.u-headline-1 {
  font-size: 3rem;
  font-weight: 700;
}

.u-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.u-text-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.u-text-small {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.6;
}
